body{
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  display: grid;
  grid-template-columns: 25% 200px 25%;
}

.item{
  background: lightblue;
  padding: 10px;
  border: 1px solid red;
}