body{
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  display: grid;
  /* grid-template-columns: 25% 200px 25%; */
  /* grid-template-rows: 300px 300px; */
  /* grid-template: filas / columnas; */
  /* grid-template: 300px 100px 100px/ repeat(4, 1fr); */
  /* column-gap: 30px; */
  /* fr */
  /* row-gap: 50px; */
  /* gap: rows(valor) columns(valor) */
  /* row: HORIZONTAL; */
  /* columns: VERTICAL; */
  grid-template: 100px 1fr 150px/ 200px 1fr;
  gap: 10px;
  height: 100vh;
  grid-template-areas:  "header header" 
                        "left contenido" 
                        "footer footer";
}

.header{
  grid-area: header;
}
.left{
  grid-area: left;
}
.contenido{
  grid-area: contenido;
}
.footer{
  grid-area: footer;
}

.item{
  background: lightblue;
  padding: 10px;
  border: 1px solid red;
}

.item:nth-of-type(4){
  background: blue;
  overflow: auto;
  /* display: subgrid; */
  /* display: inline-grid; */
  display: grid;
  /* grid-template: filas / columnas; */
  grid-template: 50px 50px 50px / 200px 200px 200px;
}

.item .item{
  background: yellow;
}