body{
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  display: grid;
  /* grid-template: filas / columnas; */
  /* grid-template: 300px 100px 100px/ repeat(4, 1fr); */
  /* column-gap: 30px; */
  /* fr */
  /* row-gap: 50px; */
  /* gap: rows(valor) columns(valor) */
  /* row: HORIZONTAL; */
  /* columns: VERTICAL; */
  /* grid-template: 100px 1fr 150px/ 200px 1fr; */
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
  height: 100vh;
  /* grid-template-areas:"header header" 
                      "left contenido" 
                      "footer footer"; */
}

.item{
  background: lightblue;
  padding: 10px;
  border: 1px solid red;
}

.item:nth-of-type(1){
  background: blue;
  grid-column-start: 1;
  grid-column-end: 3;
}
.item:nth-of-type(8){
  /* grid-column: 1 / span 2; */
  grid-column: 1 / -1;
}
.item:nth-of-type(7){
  grid-column: 2 / 4;
}