body{
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  display: grid;
  /* grid-template-columns: 25% 200px 25%; */
  /* grid-template-rows: 300px 300px; */
  /* grid-template: filas / columnas; */
  grid-template: 300px 100px 100px/ 50% 200px 100%;
}

.item{
  background: lightblue;
  padding: 10px;
  border: 1px solid red;
}