body{
  font-family: Arial;
}

.container{
  /* grid-template: filas / columnas; */
  /* grid-template: 300px 100px 100px/ repeat(4, 1fr); */
  /* column-gap: 30px; */
  /* fr */
  /* row-gap: 50px; */
  /* gap: rows(valor) columns(valor) */
  /* row: HORIZONTAL; */
  /* columns: VERTICAL; */
  /* grid-template: 100px 1fr 150px/ 200px 1fr; */
  /* grid-template-columns: [inicio] 1fr [linea2] 1fr [linea3] 1fr [destacado-end] 1fr [linea5] 1fr [destacado2-end] 1fr [linea7] 1fr[final]; */
  /* grid-template-rows: [inicio] 200px [inicio2] 200px [final]; */
  /* grid-template-areas:"header header" 
  "left contenido" 
  "footer footer"; */
  /* grid-auto-flow: column; */
  /* grid-auto-columns: 50px 100px; */
  /* grid-auto-rows: 50px 100px; */
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  height: 100vh;
  
  /* justify-items: ALINEADO HORIZONTAL START END CENTER STRETCH;
  align-items: ALINEADO VERTICAL START END CENTER STRETCH; */
  justify-items: center;
  align-items: center;
}

.item{
  background: lightblue;
  padding: 10px;
  border: 1px solid red;
}

.item:nth-of-type(5){
  align-self: start;
  justify-self: start;
}